numpy
pandas
jupyterlab
matplotlib
polars
openpyxl
xlrd
sqlalchemy
mysql-connector-python
missingno
scikit-learn
advertools
pymongo
duckdb
seaborn
pyarrow
pymilvus==2.6.0
sentence-transformers
streamlit